<%- include('header') -%>

<div class='container'>
  <div class="row"><br><br><br><br></div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Consultas</h1>
      <br><br>
      <form action="/query" method="post">
        <div class="form-group">
          <label for="selectTable">Tabla:</label>
          <select type="select" class="form-control" name="tableName" id="selectTable" onchange="changeFilter()">
            <option value="" disabled selected>Seleccione la tabla a consultar</option>
            <option value="medic">Médicos</option>
            <option value="nurse">Enfermeros</option>
            <option value="staff">Personal</option>
            <option value="patient">Pacientes</option>
            <option value="diagnostic">Diagnósticos</option>
            <option value="bedAssign">Asignación de camas</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filterBy">Filtrar por:</label>
          <select type="select" class="form-control" name="filterBy" id="selectFilter" onchange="activateInput()">
            <!--
            <option value="">Médicos</option>
            <option value="nurse">Enfermeros</option>
            <option value="staff">Personal</option>
            <option value="patient">Pacientes</option>
            <option value="diagnostic">Diagnósticos</option>
            <option value="bedAssign">Asignación de camas</option>
            -->
          </select>
        </div>
        <div class="form-group">
          <input type="text" name="filter" id="Input" class="form-control" placeholder="Ingrese el filtro" disabled>
        </div>
        <button type="submit" class="btn btn-default">Consultar</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <% if (tableHeader && table) { %>
    <br><br>
    <h2><%= tableName %></h2>
    <% console.log(tableHeader); %>
    <% console.log(table); %>
    <table class="table">
      <thead>
        <tr>
          <% for (var i = 0; i < tableHeader.length; i++) { %>
            <th> <%= tableHeader[i] %> </th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < table.length; i++) { %>
          <% for (var j = 0; j < table[i].length; j++) { %>
            <tr>
              <% if (tableHeader[i] == "Descripción") { %>
                <td> <button class="btn btn-default" onclick="alert('Descripción:\n' + <%= table[i][j] %>)">Ver</td>
              <% } else if (tableHeader[i] == "Fec. fin") { %>
                <% if (table[i][j] == null) {%>
                  <td> En uso </td>
                <% } else { %>
                  <td> <%= table[i][j] %> </td>
                <% } %>
              <% } else { %>
                <td> <%= table[i][j] %> </td>
              <% } %>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
    <div class="row"></div>
    <% } %>
  </div>
</div>

<script>
function changeFilter() {
  var S = document.getElementById("selectFilter");
  var T = document.getElementById("selectTable");
  var opts = [];

  for (i = 0; i < S.options.length; i++)
    S.options.remove(i);
  S.options.length = 0;
  S.options.selectedIndex = -1;

  if (T.options[T.selectedIndex] == '')
    opts = [];
  else if (T.options[T.selectedIndex].value == 'medic')
    opts = [['', 'Sin filtro'], ['id', 'ID'], ['ap1', 'Primer apellido'], ['sector', 'Área']];
  else if (T.options[T.selectedIndex].value == 'nurse')
    opts = [['', 'Sin filtro'], ['id', 'ID'], ['ap1', 'Primer apellido'], ['floor', 'Planta']];
  else if (T.options[T.selectedIndex].value == 'staff')
    opts = [['', 'Sin filtro'], ['id', 'ID'], ['ap1', 'Primer apellido'], ['charge', 'Cargo']];
  else if (T.options[T.selectedIndex].value == 'patient')
    opts = [['', 'Sin filtro'], ['id', 'ID'], ['ap1', 'Primer apellido'], ['socialCare', 'Seguro social']];
  else if (T.options[T.selectedIndex].value == 'diagnostic')
    opts = [['', 'Sin filtro'], ['id', 'ID'], ['idMedic', 'Médico'], ['idNurse', 'Enfermero'], ['idPatient', 'Paciente']];
  else if (T.options[T.selectedIndex].value == 'bedAssign')
    opts = [['', 'Sin filtro'], ['id', 'ID'], ['idPatient', 'Paciente'], ['idFloor', 'Planta']];

  for (var i = 0; i < opts.length; i++)  {
    var opt = document.createElement('option');
    opt.value = opts[i][0];
    opt.innerHTML = opts[i][1];
    S.appendChild(opt);
  }

}
</script>

<script>
  function activateInput() {
    var S = document.getElementById("selectFilter");

    if (S.options.length != 0)
      document.getElementById("Input").disabled = false;
    else
      document.getElementById("Input").disabled = true;
  }
</script>

<script>
  $(function() {
    $("#header_nav_3").addClass("active");
  });
</script>

<%- include('footer') -%>
